{% extends 'base.html.twig' %}

{% block body %}
    <h1>Novo Produto</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'} }) }}
        {{ form_widget(form) }}
        <input type="submit" value="Cadastrar" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('produtos_index') }}">Listar</a>
        </li>
    </ul>
{% endblock %}
